$primary-color: #1492e6;
$secondary-color: #000000;
$background-color: #f8fafc;

// global styling
body {
  max-width: 1117px;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  margin: 1.2rem 0;
  text-align: center;
}

/// navbar designing
header {
  margin-top: 33px;
}
.site-logo {
  display: flex;
  align-items: center;
  img {
    margin: 0 auto;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #0000004f;
  .nav {
    .nav-item {
      a {
        color: $secondary-color;
      }
    }
  }
}

// banner area
.banner-area {
  display: flex;
  justify-content: space-between;
  .banner-text {
    margin-top: 97px;
    max-width: 548px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
}

// card area
.card-area {
  display: flex;
  flex-direction: column;
  margin: 80px 0;
  background: $background-color;
  .cards {
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    .card {
      width: 308px;
      height: 320px;
      padding: 0 0.9rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.9rem;
      border-radius: 1rem;
    }
  }
}

// feature area
.feature-area {
  h2 {
    margin: 1.2rem 0;
    text-align: center;
  }
  .feature-cards {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 5rem 0;
  }
  .feature-card {
    padding: 0 0.3rem;
    .feature-card-img {
      padding-bottom: 1rem;
    }
    .feature-card-text {
      margin-top: 1rem;
    }
  }
}

// timeline area
.timeline-area {
  .timelines {
    margin: 5rem 0;
    .timeline-left {
      max-width: 644px;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      p {
        font-size: 1.2rem;
      }
    }
    .timeline-right {
      max-width: 471px;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      p {
        font-size: 1.2rem;
      }
    }
  }
}

// review-area
.review-area {
  margin: 10rem 0;
  .review-inner {
    width: 100%;
    height: 363px;
    background: $background-color;
    border-radius: 2.625rem;
    box-shadow: 0px 16px 48px #00000029;
    padding: 39px 43px;
    margin-top: 3rem;
    position: relative;
    .review-cards {
      position: absolute;
      display: flex;
      justify-content: center;
      gap: 1.5625rem;
      width: 100%;
      top: 10rem;
      .review-card {
        width: 285px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        border-radius: 1.8rem;
        .card-header {
          width: 100%;
          background: white;
          border: none;
          display: flex;
          gap: 0.4rem;
          padding: 0;
          .card-header-img {
            width: 42px;
            height: 44px;
          }
          .review-author {
            width: 100%;
            .review-author-title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              h6 {
                font-size: 0.8rem;
                margin: 0;
              }
              p {
                margin: 0;
                font-size: 0.6rem;
              }
            }
          }
          .review-author-text {
            font-size: 0.7rem;
          }
        }
        .reeview-text {
          margin-top: 2rem;
          font-size: 0.7rem;
        }
      }
    }
  }
}
